section.download 
  .container 
    .download-wrap 
      .download-content 
        h2 Download our App now !
        p The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.
        .download-content-img 
          img(data-core-lazy data-src=require('../../assets/images/ios.png') src="", alt="download")
          img(data-core-lazy data-src=require('../../assets/images/android.png') src="", alt="download")
      .download-img 
        img(data-core-lazy data-src=require('../../assets/images/banner-footer.jpg') src="", alt="download")