section.features 
  .container 
    .features-wrap 
      .feature-img 
        img(data-core-lazy data-src=require('../../assets/images/banner1.png') src="", alt="feature")
      .feature-content 
        h3 Awesome apps features
        p Increase productivity with a simple to-do app. app for managing your personal budgets.
        ul.features-list
          li.feature-item
            .item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature1.jpg') src="", alt="item")
            .item-content 
              h4 Fast Performance
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
          li.feature-item
            .item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature2.jpg') src="", alt="item")
            .item-content 
              h4 Fast Performance
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
          li.feature-item
            .item-img 
              img(data-core-lazy data-src=require('../../assets/images/feature3.jpg') src="", alt="item")
            .item-content 
              h4 Fast Performance
              p Get your blood tests delivered at home collect a sample from the news your blood tests.
