section.hero 
  .container 
    .hero-wrap
      .hero-content
        .hero-caption
          .caption-icon
            img(data-core-lazy data-src=require('../../assets/images/icon.png') src="", alt="icon")
          .caption-text 
            | #1 Editiors Choice App of 2020
        h1.hero-heading Best app for your modern lifestyle
        p Increase productivity with a simple to-do app. app for managing your personal budgets.
        .hero-links 
          .btn Try for free
          a(href="#") Watch demo video 