section.jackpot 
  .container 
    .jackpot-wrap 
      .jackpot-heading 
        h2 Smart jackpots that you may love this anytime & anywhere
        p The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.
      ul.jackpot-list 
        li.jackpot-item 
          .jackpot-img 
            img(data-core-lazy data-src=require('../../assets/images/feature1.jpg') src="", alt="jackpot")
          .jackpot-content 
            h4.content-title Automatic Payouts
            p Get your blood tests delivered at home collect a sample from the news your blood tests.
        li.jackpot-item 
          .jackpot-img 
            img(data-core-lazy data-src=require('../../assets/images/feature2.jpg') src="", alt="jackpot")
          .jackpot-content 
            h4.content-title Automatic Payouts Automatic Payouts Automatic Payouts
            p Get your blood tests delivered at home collect a sample from the news your blood tests.
        li.jackpot-item 
          .jackpot-img 
            img(data-core-lazy data-src=require('../../assets/images/feature3.jpg') src="", alt="jackpot")
          .jackpot-content 
            h4.content-title Automatic Payouts
            p Get your blood tests delivered at home collect a sample from the news your blood tests.

