extends ../layouts/layout

block vars
  - title = "Fashion";
  - keyword = "";
  - description = "";

block container
  include ../components/hero
  include ../components/feature
  include ../components/sale
  include ../components/popular
  include ../components/trending
  include ../components/journal
  include ../components/follow