section.about 
  .container 
    .about-wrap 
      .about-img 
        img(data-core-lazy data-src=require('../../assets/images/banner.png') src="", alt="about us")
      .about-content 
        h2.global-heading
          | Über 
          span uns
        p.about-content-text
          | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasdgubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
        .content-bottom 
          .bottom-img 
            img(data-core-lazy data-src=require('../../assets/images/web_logo.png') src="", alt="logo")
          .bottom-text 
            p Tavy GmbH
            p 497 Evergreen Rd. Roseville, CA 95673
            p +44 345 678 903