section.hero 
  .container 
    .hero-wrap
      .hero-slider 
        .slider-item 
          .item-bg 
          .item-content 
            h1 UNSERE PRODUKTE
            p consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
            .item-link
              a(href="#") Mehr