section.product-details 
  .container 
    .section-wrap
      .details-heading 
        h2.global-heading.small-heading.center 
          | unsere 
          span PRODUKTE 
        p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores
      ul.product-details-list
        li.list-item
          .item-img
            img(data-core-lazy data-src=require('../../assets/images/product-page.png') src="", alt="product")
          .item-content 
            h3 MARBLE 001
            p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
        li.list-item
          .item-img
            img(data-core-lazy data-src=require('../../assets/images/product-page2.png') src="", alt="product")
          .item-content 
            h3 MARBLE 001
            p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
        li.list-item
          .item-img
            img(data-core-lazy data-src=require('../../assets/images/product-page.png') src="", alt="product")
          .item-content 
            h3 MARBLE 001
            p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
        li.list-item
          .item-img
            img(data-core-lazy data-src=require('../../assets/images/product-page2.png') src="", alt="product")
          .item-content 
            h3 MARBLE 001
            p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
