extends ../layouts/layout

block vars
  - title = "Food";
  - keyword = "";
  - description = "";

block container
  include ../components/hero
  include ../components/how
  include ../components/download