extends ../layouts/layout

block vars
  - title = "LaslesVPN";
  - keyword = "";
  - description = "";

block container
  include ../components/hero
  include ../components/features
  .section-bg 
    include ../components/plan
    include ../components/global-network
    include ../components/customer
    include ../components/subscribe