section.download 
  .download-wrap 
    .download-bg 
    .download-content 
      h3 Download the app now 
      p Available on your favorite store. Start your premium experience now
      .download-buttons 
        span(class="btn btn-color") Playstore
        span(class="btn btn-border") Appstore