section.how 
  .container
    .how-wrap
      h2 How the app works
      .how-app-work 
        .how-item 
          .how-img 
            img(data-core-lazy data-src=require('../../assets/images/Rectangle.png') src="", alt="how")
          .how-content 
            h4 Create an account 
            h3 Create/login to an existing account to get started
            p An account is created with your email and a desired password
        .how-item 
          .how-content 
            h4 Create an account 
            h3 Create/login to an existing account to get started
            p An account is created with your email and a desired password
          .how-img 
            img(data-core-lazy data-src=require('../../assets/images/Rectangle1.png') src="", alt="how")
        .how-item 
          .how-img 
            img(data-core-lazy data-src=require('../../assets/images/Rectangle2.png') src="", alt="how")
          .how-content 
            h4 Create an account 
            h3 Create/login to an existing account to get started
            p An account is created with your email and a desired password
  