extends ../layouts/layout

block vars
  - title = "appLab";
  - keyword = "";
  - description = "";

block container
  include ../components/hero
  include ../components/brand
  include ../components/feature
  include ../components/jackpot
  include ../components/code
  include ../components/why
  include ../components/built
  include ../components/license
  include ../components/customer
  include ../components/faq
  include ../components/download