header.lasles-header 
  .container
    .header-wrap 
      .header-logo 
        img(data-core-lazy, data-src=require('../../assets/images/Logo.png'), src="" alt="logo")
      .header-nav 
        ul.header-menu 
          li.header-menu-item 
            a(href="#") About
          li.header-menu-item 
            a(href="#") Features 
          li.header-menu-item 
            a(href="#") Pricing
          li.header-menu-item 
            a(href="#") Testimonials
          li.header-menu-item 
            a(href="#") Help 
      .header-buttons 
        div(class="header-btn sign-in") Sign In 
        div(class="header-btn btn-ellipse") Sign Up 
