/* Path source
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$urlImg: "../images";
$urlFont: "../fonts";

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-primary: #7d7987;
$color-secondary: #458ff6;
$blue-2: #4089ed;
$white: white;
$black: black;
$text-header: #1f1534;

/* Gradient
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$gradient-1: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
$gradient-2: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-roboto: "Roboto", sans-serif;
$font-icon: "icon";
$font-primary: $font-roboto;
$font-heading: $font-roboto;

/* Width page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Base on design
$gutter: 15px;

$width-page: 1216px;
$width-page-xxl: 1232px;
$width-page-xl: 896px;
$width-page-md: 680px;
$width-page-sm: 304px;

/* Breakpoint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$break-xxl: 1680px;
$break-xl: 1440px;
$break-l2: 1280px;
$break-l1: 1168px;
$break-md: 1024px;
$break-m: 992px; // device
$break-sm: 768px; // mobile
$break-s: 640px;
$break-x: 480px;
$break-xs: 375px;

$layout-breakpoints: (
  // Base on project
  xxl: 1680px,
  xl: 1440px,
  md: 1024px,
  sm: 768px,
  xs: 375px
) !default;

/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-default: $font-size-3 !default;

$size-by-breakpoints: (
  // Base on project
  xxl: $font-size-3,
  xl: $font-size-2,
  md: $font-size-2,
  sm: $font-size-1,
  xs: $font-size-1
) !default;

/* Line-height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$line-height-1: 1.67; // Text
$line-height-2: 1.4; // Heading
$line-height-default: $line-height-1;

/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-default: $font-weight-regular;

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1: cubic-bezier(0.19, 1, 0.22, 1);
$cubic2: cubic-bezier(0.48, 0.48, 0.57, 0.57);
$cubic3: cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4: cubic-bezier(0.4, 0, 0.2, 1);

$transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-secondary: all 0.3s ease;

/* 
menu 18
h1 48 1.17
h2 36 1.55
h3 24 2.33
text hero 32 1.52
body 18 1.67
text service 16 1.75
text customer 19
*/
