section.feature 
  .container 
    h2.global-heading Featured product
    .card-wrap 
      div(class="card card-3")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/feature.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00
      div(class="card card-3")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/feature.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00
      div(class="card card-3")
        .card-img 
          img(data-core-lazy data-src=require('../../assets/images/feature.png') src="", alt="card")
          .card-shop 
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
            .card-shop-item 
              span.icon-cart
        .card-content 
          .card-content-title Red Women Purses
          .card-content-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
            span.icon-star
          .card-content-price $35.00