section.follow 
  .container 
    h2.global-heading Follow us
    ul.follow-list 
      li.follow-list-item 
        img(data-core-lazy data-src=require('../../assets/images/follow.png') src="", alt="follow")
      li.follow-list-item 
        img(data-core-lazy data-src=require('../../assets/images/follow.png') src="", alt="follow")
      li.follow-list-item 
        img(data-core-lazy data-src=require('../../assets/images/follow.png') src="", alt="follow")
      li.follow-list-item 
        img(data-core-lazy data-src=require('../../assets/images/follow.png') src="", alt="follow")