section.journal 
  .container 
    h2.global-heading Silon journal
    ul.journal-list
      li.journal-item 
        .journal-img 
          img(data-core-lazy data-src=require('../../assets/images/journal.png') src="", alt="journal")
        .journal-content 
          .journal-content-top 
            .date 07 July, 2019
            .title Were divided land his creature which have evening subdue
          .journal-content-bottom 
            .col.col-left
              span.icon-search
              span Women Fashion
            .col.col-right 
              span.icon-search 
              span 2 Comments
      li.journal-item 
        .journal-img 
          img(data-core-lazy data-src=require('../../assets/images/journal.png') src="", alt="journal")
        .journal-content 
          .journal-content-top 
            .date 07 July, 2019
            .title Were divided land his creature which have evening subdue Were divided land his creature which have evening subdue Were divided land his creature which have evening subdue
          .journal-content-bottom 
            .col.col-left
              span.icon-search
              span Women Fashion
            .col.col-right 
              span.icon-search 
              span 2 Comments
      li.journal-item 
        .journal-img 
          img(data-core-lazy data-src=require('../../assets/images/journal.png') src="", alt="journal")
        .journal-content 
          .journal-content-top 
            .date 07 July, 2019
            .title Were divided land his creature which have evening subdue
          .journal-content-bottom 
            .col.col-left
              span.icon-search
              span Women Fashion
            .col.col-right 
              span.icon-search 
              span 2 Comments

