.hero {
  .hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  .hero-content {
    max-width: 445px;
  }

  p {
    margin-bottom: 45px;
  }
}
