.service {
  padding: 70px 0px;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: left 43%;
  background-size: 58%;

  .service-list {
    padding: 80px 40px 69px 40px;
    background: url("../images/dot-blue.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100px;
  }
  .list-wrap {
    --col: 3;
    --space: 34px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * (var(--space) / 2));
  }
  .list-item {
    background: $white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 45px;
    width: calc(100% / var(--col) - var(--space));
    margin: calc(var(--space) / 2);
    display: flex;
    flex-direction: column;

    .list-item-img {
      height: 180px;
      display: flex;
      align-items: center;
    }

    .list-item-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .content-top {
      font-size: 24px;
      padding-bottom: 10px;
    }

    .content-bottom {
      font-size: 16px;
      margin-top: auto;
    }
  }

  .service-button {
    display: flex;
    justify-content: center;
  }
}
