%link {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
}

%link-hover {
  &:hover {
    // text-decoration: underline;
    color: $color-secondary;
  }
}

// %container {
//   width: 100%;
//   max-width: $container-width + ($gutter * 2);
//   margin: 0 auto;
//   padding: 0 $gutter;
// }
