.why {
  .why-wrap {
    padding: 100px 0;
  }

  .why-heading {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
  }
  .why-list {
    --col: 3;
    --space: 94px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;

    .why-item {
      text-align: center;
      width: calc((100% / var(--col)) - var(--space));
      margin: calc(var(--space) / 2);
      display: flex;
      flex-direction: column;
    }

    .why-img {
      margin-bottom: 36px;
    }

    .why-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
