extends ../layouts/layout

block vars
  - title = "Tralfalgar";
  - keyword = "";
  - description = "";

block container
  include ../components/hero
  include ../components/service
  include ../components/intro
  include ../components/customer
  include ../components/article