extends ../layouts/layout

block vars
  - title = "Tavy";
  - keyword = "";
  - description = "";

block container
  include ../global/header.pug
  include ../components/hero
  include ../components/about
  include ../components/product
  include ../global/footer.pug
