extends ../layouts/layout

block vars
  - title = "Tavy";
  - keyword = "";
  - description = "";

block container
  include ../global/header.pug
  include ../components/banner.pug
  include ../components/product-details.pug
  include ../global/footer.pug
