section.hero 
  .container
    .hero-wrap
      .hero-content 
        h1.heading
          | Want anything to be easy with 
          span LaslesVPN.
        p.hero-desc 
          | Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
        div(class="hero-btn")
          .btn-square Get Started
      .hero-img 
        img(data-core-lazy, data-src=require('../../assets/images/Illustration 1.png'), src="", alt="avatar")
    .analyse-bar 
      .analyse-item 
        img(data-core-lazy, data-src=require('../../assets/images/user.png'), src="", alt="avatar")
        .analyse-text 
          span 90+
          span Users
      .analyse-item 
        img(data-core-lazy, data-src=require('../../assets/images/user.png'), src="", alt="avatar")
        .analyse-text 
          span 30+
          span Locations
      .analyse-item 
        img(data-core-lazy, data-src=require('../../assets/images/user.png'), src="", alt="avatar")
        .analyse-text 
          span 50+
          span Servers

