section.article
  .container 
    .article-wrap 
      div(class="global-heading large-spacing")
        h2.heading Check out our latest article
      .article-list 
        .article-item 
          .article-img 
            img(data-core-lazy data-src=require('../../assets/images/article1.png') src="", alt="article")
          .article-content 
            .content-wrap
              h3.article-heading Disease detection, check up in the laboratory Disease detection, check up in the laboratory
              p.article-text In this case, the role of the health laboratory is very important to doa disease detection... In this case, the role of the health laboratory is very important to doa disease detection... In this case, the role of the health laboratory is very important to doa disease detection...
            .article-btn 
              span Read more 
              span(class="article-icon icon-arrow-right")
        .article-item 
          .article-img 
            img(data-core-lazy data-src=require('../../assets/images/article1.png') src="", alt="article")
          .article-content 
            .content-wrap
              h3.article-heading Disease detection, check up in the laboratory
              p.article-text In this case, the role of the health laboratory is very important to doa disease detection...
            .article-btn 
              span Read more 
              span(class="article-icon icon-arrow-right")
        .article-item 
          .article-img 
            img(data-core-lazy data-src=require('../../assets/images/article1.png') src="", alt="article")
          .article-content 
            .content-wrap
              h3.article-heading Disease detection, check up in the laboratory
              p.article-text In this case, the role of the health laboratory is very important to doa disease detection...
            .article-btn 
              span Read more 
              span(class="article-icon icon-arrow-right")
      .article-button-bottom 
        span(class="btn") View all