section.hero 
  .container 
    .hero-wrap 
      .hero-content 
        h1 Virtual healthcare for you
        p Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone
        .hero-button 
          span(class="btn btn-full") Consult today
      .hero-img 
        img(data-core-lazy data-src=require('../../assets/images/banner1.png') src="", alt="hero")