section.intro 
  .container 
    .intro-wrap 
      .intro-img
        img(data-core-lazy data-src=require('../../assets/images/banner2.png') src="", alt="intro")
      .intro-content 
        div(class="global-heading text-left") 
          h2(class="heading line-left") Leading healthcare providers
          p Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us it’s not just work. We take pride in the solutions we deliver
        .intro-button 
          span.btn Learn more
    .intro-wrap 
      .intro-img
        img(data-core-lazy data-src=require('../../assets/images/banner3.png') src="", alt="intro")
      .intro-content 
        div(class="global-heading text-left") 
          h2(class="heading line-left") Leading healthcare providers
          p Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us it’s not just work. We take pride in the solutions we deliver
        .intro-button 
          span(class="btn with-icon") 
            span Download
            span(class="btn-icon icon-arrow-down")
            